/* 精选文章便签 */
#mySidenav a {
    position: fixed;
    right: -80px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 25px 0 0 25px;
}

#mySidenav a:hover {
    background-color: #000000;
    right: 0;
}

#tool1 {
    top: 80px;
    background-color: #89D7FF;
}

#tool2 {
    top: 140px;
    background-color: #7FFF00;
}

#tool3 {
    top: 200px;
    background-color: #FF69B4;
}

#tool4 {
    top: 260px;
    background-color: #FFC028;
}

/* 动画效果 */
#dh1:hover {
    transform: translate(-50px, 0px);
    -ms-transform: translate(-50px, 0px);
    /* IE 9 */
    -webkit-transform: translate(-50px, 0px);
    /* Safari and Chrome */
}

#dh2:hover {
    transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    /* IE 9 */
    -webkit-transform: rotate(60deg);
    /* Safari and Chrome */
}

#dh3:hover {
    -ms-transform: scale(2, 3);
    /* IE 9 */
    -webkit-transform: scale(2, 3);
    /* Safari */
    transform: scale(2, 3);
    /* 标准语法 */
}

#dh4:hover {
    -ms-transform: scale(0.5, 0.5);
    /* IE 9 */
    -webkit-transform: scale(0.5, 0.5);
    /* Safari */
    transform: scale(0.5, 0.5);
    /* 标准语法 */
}

#dh5:hover {
    transform: rotateX(120deg);
    -webkit-transform: rotateX(120deg);
    /* Safari 与 Chrome */
}

#dh6:hover {
    transform: rotateY(130deg);
    -webkit-transform: rotateY(130deg);
    /* Safari 与 Chrome */
}

/* 首页音乐播放 */
#inp {
    letter-spacing: 15px;
    font-size: 20px;
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 25px;
    padding: 3px;
    float: right;
    outline: none;
    display: block;
}
